public/workflow/json/n8n-plumber-voice-agent.json
{
  "name": "Plumber Voice Agent - Lead Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "plumber-lead",
        "responseMode": "lastNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1000,
        200
      ],
      "id": "webhook-plumber-001",
      "name": "Webhook Trigger"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst name = body.caller_name || 'Unknown';\nconst phone = body.caller_phone || '';\nconst issue = body.issue_description || '';\nconst urgency = body.urgency || 'normal';\nconst address = body.address || '';\n\nreturn [{\n  json: {\n    caller_name: name,\n    caller_phone: phone,\n    issue_description: issue,\n    urgency: urgency,\n    address: address,\n    lead_source: 'voice_agent',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        200
      ],
      "id": "parse-plumber-002",
      "name": "Parse Lead Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_RETELL_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"from_number\": $json.caller_phone,\n  \"to_number\": \"YOUR_BUSINESS_PHONE\",\n  \"agent_id\": \"YOUR_PLUMBER_AGENT_ID\",\n  \"metadata\": {\n    \"caller_name\": $json.caller_name,\n    \"issue\": $json.issue_description,\n    \"urgency\": $json.urgency,\n    \"address\": $json.address\n  }\n}) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        200
      ],
      "id": "retell-call-003",
      "name": "Retell Create Call"
    },
    {
      "parameters": {
        "tableId": "leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "caller_name",
              "fieldValue": "={{ $json.caller_name }}"
            },
            {
              "fieldId": "caller_phone",
              "fieldValue": "={{ $json.caller_phone }}"
            },
            {
              "fieldId": "issue_description",
              "fieldValue": "={{ $json.issue_description }}"
            },
            {
              "fieldId": "urgency",
              "fieldValue": "={{ $json.urgency }}"
            },
            {
              "fieldId": "address",
              "fieldValue": "={{ $json.address }}"
            },
            {
              "fieldId": "lead_source",
              "fieldValue": "={{ $json.lead_source }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "new"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.timestamp }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -400,
        200
      ],
      "id": "supabase-lead-004",
      "name": "Save Lead to Supabase"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/YOUR_SLACK_WEBHOOK_URL",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"text\": \"\ud83d\udea8 New Plumber Lead!\\nName: \" + $json.caller_name + \"\\nPhone: \" + $json.caller_phone + \"\\nIssue: \" + $json.issue_description + \"\\nUrgency: \" + $json.urgency + \"\\nAddress: \" + $json.address\n}) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        400
      ],
      "id": "slack-notify-005",
      "name": "Slack Notification"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Lead Data": {
      "main": [
        [
          {
            "node": "Retell Create Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retell Create Call": {
      "main": [
        [
          {
            "node": "Save Lead to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Lead to Supabase": {
      "main": [
        [
          {
            "node": "Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "plumber-voice-001",
  "id": "plumber-voice-wf",
  "tags": [
    "voice-agent",
    "plumber",
    "lead-capture"
  ]
}