public/workflow/json/n8n-lead-magnet-generator.json
{
  "name": "AI Lead Magnet Generator - PDF & Landing Page",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-magnet",
        "responseMode": "lastNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1000,
        200
      ],
      "id": "webhook-lm-001",
      "name": "Webhook Trigger"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nreturn [{\n  json: {\n    topic: body.topic || '',\n    industry: body.industry || 'general',\n    target_audience: body.target_audience || '',\n    magnet_type: body.magnet_type || 'checklist',\n    pages: body.pages || 5,\n    brand_name: body.brand_name || 'Your Brand'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        200
      ],
      "id": "parse-lm-002",
      "name": "Parse Lead Magnet Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [{\n    parts: [{\n      text: \"Create a complete \" + $json.magnet_type + \" about \" + $json.topic + \" for \" + $json.target_audience + \" in the \" + $json.industry + \" industry. Brand: \" + $json.brand_name + \".\\n\\nGenerate the FULL content (not outline) formatted as a structured document with sections, bullet points, and actionable items. Include a compelling title, introduction, main content, and call-to-action. Make it approximately \" + $json.pages + \" pages worth of content.\"\n    }]\n  }]\n}) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        200
      ],
      "id": "gemini-lm-003",
      "name": "Gemini Generate Content"
    },
    {
      "parameters": {
        "jsCode": "const candidates = $json.candidates || [];\nconst text = candidates?.[0]?.content?.parts?.[0]?.text || '';\nconst prevData = $('Parse Lead Magnet Request').first().json;\n\nreturn [{\n  json: {\n    topic: prevData.topic,\n    industry: prevData.industry,\n    target_audience: prevData.target_audience,\n    magnet_type: prevData.magnet_type,\n    brand_name: prevData.brand_name,\n    content: text,\n    word_count: text.split(' ').length,\n    created_at: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        200
      ],
      "id": "parse-lm-004",
      "name": "Parse Generated Content"
    },
    {
      "parameters": {
        "tableId": "lead_magnets",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "topic",
              "fieldValue": "={{ $json.topic }}"
            },
            {
              "fieldId": "industry",
              "fieldValue": "={{ $json.industry }}"
            },
            {
              "fieldId": "target_audience",
              "fieldValue": "={{ $json.target_audience }}"
            },
            {
              "fieldId": "magnet_type",
              "fieldValue": "={{ $json.magnet_type }}"
            },
            {
              "fieldId": "brand_name",
              "fieldValue": "={{ $json.brand_name }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content }}"
            },
            {
              "fieldId": "word_count",
              "fieldValue": "={{ $json.word_count }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "generated"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -200,
        200
      ],
      "id": "supabase-lm-005",
      "name": "Save Lead Magnet"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Lead Magnet Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Lead Magnet Request": {
      "main": [
        [
          {
            "node": "Gemini Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Generate Content": {
      "main": [
        [
          {
            "node": "Parse Generated Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Generated Content": {
      "main": [
        [
          {
            "node": "Save Lead Magnet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "leadmagnet-001",
  "id": "leadmagnet-wf",
  "tags": [
    "lead-magnet",
    "pdf",
    "content",
    "gemini",
    "trending"
  ]
}