public/workflow/json/n8n-support-ticket-router.json
{
  "name": "AI Customer Support - Smart Ticket Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support-ticket",
        "responseMode": "lastNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1000,
        200
      ],
      "id": "webhook-sup-001",
      "name": "Webhook Trigger"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nreturn [{\n  json: {\n    customer_name: body.customer_name || '',\n    customer_email: body.customer_email || '',\n    subject: body.subject || '',\n    message: body.message || '',\n    urgency: body.urgency || 'low',\n    source: body.source || 'email',\n    ticket_id: 'TKT-' + Date.now().toString(36).toUpperCase()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        200
      ],
      "id": "parse-ticket-002",
      "name": "Parse Ticket Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [{\n    parts: [{\n      text: \"Analyze this customer support ticket and classify it:\\n\\nSubject: \" + $json.subject + \"\\nMessage: \" + $json.message + \"\\n\\nProvide JSON with:\\n1. category (billing, technical, feature_request, bug, account, general)\\n2. priority (urgent, high, medium, low)\\n3. sentiment (angry, frustrated, neutral, happy)\\n4. suggested_response (brief draft response)\\n5. assign_to (sales_team, tech_support, billing_team, product_team, general_support)\\n6. auto_resolve (true/false - can this be answered with a standard response?)\\n7. tags (array of relevant tags)\"\n    }]\n  }]\n}) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        200
      ],
      "id": "gemini-classify-003",
      "name": "Gemini Classify Ticket"
    },
    {
      "parameters": {
        "jsCode": "const candidates = $json.candidates || [];\nconst text = candidates?.[0]?.content?.parts?.[0]?.text || '';\n\nlet classification = {};\ntry {\n  const jsonMatch = text.match(/```json\\n?([\\s\\S]*?)\\n?```/);\n  if (jsonMatch) {\n    classification = JSON.parse(jsonMatch[1]);\n  } else {\n    classification = JSON.parse(text);\n  }\n} catch (e) {\n  classification = {\n    category: 'general',\n    priority: 'medium',\n    sentiment: 'neutral',\n    suggested_response: 'Thank you for reaching out. We will look into this.',\n    assign_to: 'general_support',\n    auto_resolve: false,\n    tags: []\n  };\n}\n\nconst prevData = $('Parse Ticket Data').first().json;\nreturn [{\n  json: {\n    ticket_id: prevData.ticket_id,\n    customer_name: prevData.customer_name,\n    customer_email: prevData.customer_email,\n    subject: prevData.subject,\n    message: prevData.message,\n    source: prevData.source,\n    category: classification.category || 'general',\n    priority: classification.priority || 'medium',\n    sentiment: classification.sentiment || 'neutral',\n    suggested_response: classification.suggested_response || '',\n    assign_to: classification.assign_to || 'general_support',\n    auto_resolve: classification.auto_resolve || false,\n    tags: classification.tags || [],\n    status: (classification.auto_resolve || false) ? 'resolved' : 'open'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        200
      ],
      "id": "parse-classify-004",
      "name": "Parse Classification"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-auto",
                    "leftValue": "={{ $json.auto_resolve }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -200,
        200
      ],
      "id": "switch-auto-005",
      "name": "Auto-Resolve Check"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_RESEND_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"from\": \"support@yourcompany.com\",\n  \"to\": $json.customer_email,\n  \"subject\": \"Re: \" + $json.subject,\n  \"html\": \"<p>Hi \" + $json.customer_name + \",</p><p>\" + $json.suggested_response + \"</p><p>Best,<br>Support Team</p>\"\n}) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        100
      ],
      "id": "email-auto-006",
      "name": "Send Auto-Response"
    },
    {
      "parameters": {
        "tableId": "support_tickets",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "ticket_id",
              "fieldValue": "={{ $json.ticket_id }}"
            },
            {
              "fieldId": "customer_name",
              "fieldValue": "={{ $json.customer_name }}"
            },
            {
              "fieldId": "customer_email",
              "fieldValue": "={{ $json.customer_email }}"
            },
            {
              "fieldId": "subject",
              "fieldValue": "={{ $json.subject }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.message }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.category }}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "={{ $json.priority }}"
            },
            {
              "fieldId": "sentiment",
              "fieldValue": "={{ $json.sentiment }}"
            },
            {
              "fieldId": "assign_to",
              "fieldValue": "={{ $json.assign_to }}"
            },
            {
              "fieldId": "tags",
              "fieldValue": "={{ JSON.stringify($json.tags) }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "auto_resolved",
              "fieldValue": "={{ $json.auto_resolve }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "id": "supabase-ticket-007",
      "name": "Save Ticket"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Ticket Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Ticket Data": {
      "main": [
        [
          {
            "node": "Gemini Classify Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Classify Ticket": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "Auto-Resolve Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Resolve Check": {
      "main": [
        [
          {
            "node": "Send Auto-Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Save Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Auto-Response": {
      "main": [
        [
          {
            "node": "Save Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "support-001",
  "id": "support-wf",
  "tags": [
    "support",
    "ticket-router",
    "ai-classification",
    "gemini",
    "trending"
  ]
}