public/workflow/json/n8n-fitness-coach-followup.json
{
  "name": "Fitness Coach - Client Follow-Up Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fitness-followup",
        "responseMode": "lastNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1000,
        200
      ],
      "id": "webhook-fit-001",
      "name": "Webhook Trigger"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst lastWorkout = new Date(body.last_workout_date || Date.now());\nconst daysSince = Math.floor((Date.now() - lastWorkout) / (1000 * 60 * 60 * 24));\n\nlet message = '';\nlet priority = 'low';\n\nif (daysSince >= 7) {\n  message = \"Hey \" + (body.client_name || 'there') + \", we miss you! It's been \" + daysSince + \" days since your last workout. Ready to get back on track? \ud83d\udcaa\";\n  priority = 'high';\n} else if (daysSince >= 3) {\n  message = \"Hey \" + (body.client_name || 'there') + \", great session \" + daysSince + \" days ago! How are you feeling?\";\n  priority = 'medium';\n} else {\n  message = \"Hey \" + (body.client_name || 'there') + \", awesome work yesterday! Here's your next workout plan.\";\n  priority = 'low';\n}\n\nreturn [{\n  json: {\n    client_name: body.client_name || '',\n    client_phone: body.client_phone || '',\n    client_email: body.client_email || '',\n    last_workout_date: body.last_workout_date || '',\n    days_since: daysSince,\n    goal: body.goal || 'general_fitness',\n    message: message,\n    priority: priority,\n    next_workout: body.next_workout || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        200
      ],
      "id": "parse-fitness-002",
      "name": "Parse & Generate Message"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-high",
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "high",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-medium",
                    "leftValue": "={{ $json.priority }}",
                    "rightValue": "medium",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -600,
        200
      ],
      "id": "switch-priority-003",
      "name": "Priority Check"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/YOUR_TWILIO_SID/Messages.json",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Basic YOUR_TWILIO_AUTH"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $json.client_phone }}"
            },
            {
              "name": "From",
              "value": "YOUR_TWILIO_NUMBER"
            },
            {
              "name": "Body",
              "value": "={{ $json.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        100
      ],
      "id": "sms-followup-004",
      "name": "SMS Follow-Up"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_RESEND_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"from\": \"coach@yourfitness.com\",\n  \"to\": $json.client_email,\n  \"subject\": \"Your Fitness Check-In\",\n  \"html\": \"<h2>Hi \" + $json.client_name + \",</h2><p>\" + $json.message + \"</p><p>Your goal: \" + $json.goal + \"</p><p>Next workout: \" + ($json.next_workout || 'TBD') + \"</p>\"\n}) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        300
      ],
      "id": "email-followup-005",
      "name": "Email Follow-Up"
    },
    {
      "parameters": {
        "tableId": "fitness_clients",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "client_name",
              "fieldValue": "={{ $json.client_name }}"
            },
            {
              "fieldId": "client_phone",
              "fieldValue": "={{ $json.client_phone }}"
            },
            {
              "fieldId": "client_email",
              "fieldValue": "={{ $json.client_email }}"
            },
            {
              "fieldId": "last_contact_date",
              "fieldValue": "={{ new Date().toISOString() }}"
            },
            {
              "fieldId": "days_since_workout",
              "fieldValue": "={{ $json.days_since }}"
            },
            {
              "fieldId": "goal",
              "fieldValue": "={{ $json.goal }}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "={{ $json.priority }}"
            },
            {
              "fieldId": "message_sent",
              "fieldValue": "={{ $json.message }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -200,
        200
      ],
      "id": "supabase-fit-006",
      "name": "Update Client Record"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse & Generate Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Generate Message": {
      "main": [
        [
          {
            "node": "Priority Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Priority Check": {
      "main": [
        [
          {
            "node": "SMS Follow-Up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email Follow-Up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Client Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SMS Follow-Up": {
      "main": [
        [
          {
            "node": "Update Client Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Follow-Up": {
      "main": [
        [
          {
            "node": "Update Client Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fitness-001",
  "id": "fitness-wf",
  "tags": [
    "fitness",
    "follow-up",
    "retention",
    "sms",
    "email"
  ]
}