public/workflow/json/n8n-content-repurposing.json
{
  "name": "AI Content Repurposing - Blog to Social Media",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "content-repurpose",
        "responseMode": "lastNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1000,
        200
      ],
      "id": "webhook-content-001",
      "name": "Webhook Trigger"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nreturn [{\n  json: {\n    blog_url: body.blog_url || '',\n    blog_title: body.blog_title || '',\n    blog_content: body.blog_content || '',\n    target_platforms: body.platforms || ['twitter', 'linkedin', 'instagram'],\n    tone: body.tone || 'professional',\n    brand_voice: body.brand_voice || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        200
      ],
      "id": "parse-content-002",
      "name": "Parse Content Input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash-lite:generateContent?key=YOUR_GEMINI_API_KEY",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  contents: [{\n    parts: [{\n      text: \"Repurpose this blog content into social media posts for \" + $json.target_platforms.join(', ') + \". Tone: \" + $json.tone + \". Brand voice: \" + $json.brand_voice + \"\\n\\nBlog Title: \" + $json.blog_title + \"\\nContent: \" + $json.blog_content + \"\\n\\nGenerate: 1 Twitter thread (5 tweets), 1 LinkedIn post, 1 Instagram caption with hashtags, 1 short TikTok script. Format as JSON with keys: twitter_thread, linkedin, instagram, tiktok\"\n    }]\n  }]\n}) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -600,
        200
      ],
      "id": "gemini-content-003",
      "name": "Gemini Generate Social Posts"
    },
    {
      "parameters": {
        "jsCode": "const candidates = $json.candidates || [];\nconst text = candidates?.[0]?.content?.parts?.[0]?.text || '';\n\n// Try to extract JSON from the response\nlet socialPosts = {};\ntry {\n  const jsonMatch = text.match(/```json\\n?([\\s\\S]*?)\\n?```/);\n  if (jsonMatch) {\n    socialPosts = JSON.parse(jsonMatch[1]);\n  } else {\n    socialPosts = JSON.parse(text);\n  }\n} catch (e) {\n  socialPosts = {\n    raw_output: text,\n    twitter_thread: text.slice(0, 500),\n    linkedin: text.slice(500, 1000),\n    instagram: text.slice(1000, 1500),\n    tiktok: text.slice(1500, 2000)\n  };\n}\n\nconst prevData = $('Parse Content Input').first().json;\nreturn [{\n  json: {\n    blog_url: prevData.blog_url,\n    blog_title: prevData.blog_title,\n    target_platforms: prevData.target_platforms,\n    tone: prevData.tone,\n    twitter_thread: socialPosts.twitter_thread || '',\n    linkedin_post: socialPosts.linkedin || '',\n    instagram_caption: socialPosts.instagram || '',\n    tiktok_script: socialPosts.tiktok || '',\n    raw_output: text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        200
      ],
      "id": "parse-social-004",
      "name": "Parse Social Posts"
    },
    {
      "parameters": {
        "tableId": "content_repurposed",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "blog_url",
              "fieldValue": "={{ $json.blog_url }}"
            },
            {
              "fieldId": "blog_title",
              "fieldValue": "={{ $json.blog_title }}"
            },
            {
              "fieldId": "twitter_thread",
              "fieldValue": "={{ JSON.stringify($json.twitter_thread) }}"
            },
            {
              "fieldId": "linkedin_post",
              "fieldValue": "={{ $json.linkedin_post }}"
            },
            {
              "fieldId": "instagram_caption",
              "fieldValue": "={{ $json.instagram_caption }}"
            },
            {
              "fieldId": "tiktok_script",
              "fieldValue": "={{ $json.tiktok_script }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "generated"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -200,
        200
      ],
      "id": "supabase-content-005",
      "name": "Save Repurposed Content"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Content Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Content Input": {
      "main": [
        [
          {
            "node": "Gemini Generate Social Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Generate Social Posts": {
      "main": [
        [
          {
            "node": "Parse Social Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Social Posts": {
      "main": [
        [
          {
            "node": "Save Repurposed Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "content-001",
  "id": "content-wf",
  "tags": [
    "content",
    "repurposing",
    "social-media",
    "gemini",
    "trending"
  ]
}