public/workflow/json/n8n-real-estate-lead-qualification.json
{
  "name": "Real Estate - Lead Qualification & CRM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "real-estate-lead",
        "responseMode": "lastNode"
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1000,
        200
      ],
      "id": "webhook-re-001",
      "name": "Webhook Trigger"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nreturn [{\n  json: {\n    lead_name: body.name || '',\n    lead_phone: body.phone || '',\n    lead_email: body.email || '',\n    budget_min: body.budget_min || 0,\n    budget_max: body.budget_max || 0,\n    property_type: body.property_type || 'any',\n    location: body.location || '',\n    timeline: body.timeline || '3_months',\n    pre_approved: body.pre_approved || false,\n    notes: body.notes || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        200
      ],
      "id": "parse-re-002",
      "name": "Parse Lead Data"
    },
    {
      "parameters": {
        "jsCode": "const lead = $json;\nlet score = 0;\nlet tags = [];\n\n// Budget scoring\nif (lead.budget_max >= 500000) { score += 30; tags.push('high_budget'); }\nelse if (lead.budget_max >= 200000) { score += 20; tags.push('mid_budget'); }\nelse { score += 10; tags.push('low_budget'); }\n\n// Timeline scoring\nif (lead.timeline === '1_month') { score += 25; tags.push('hot_lead'); }\nelse if (lead.timeline === '3_months') { score += 15; }\nelse { score += 5; }\n\n// Pre-approved bonus\nif (lead.pre_approved) { score += 20; tags.push('pre_approved'); }\n\n// Property type\nif (lead.property_type !== 'any') { score += 10; tags.push('specific_type'); }\n\nlet priority = 'low';\nif (score >= 70) priority = 'hot';\nelse if (score >= 40) priority = 'warm';\n\nreturn [{\n  json: {\n    ...lead,\n    lead_score: score,\n    priority: priority,\n    tags: tags,\n    qualified: score >= 40\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -600,
        200
      ],
      "id": "score-lead-003",
      "name": "Score & Qualify Lead"
    },
    {
      "parameters": {
        "tableId": "real_estate_leads",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $json.lead_name }}"
            },
            {
              "fieldId": "phone",
              "fieldValue": "={{ $json.lead_phone }}"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $json.lead_email }}"
            },
            {
              "fieldId": "budget_min",
              "fieldValue": "={{ $json.budget_min }}"
            },
            {
              "fieldId": "budget_max",
              "fieldValue": "={{ $json.budget_max }}"
            },
            {
              "fieldId": "property_type",
              "fieldValue": "={{ $json.property_type }}"
            },
            {
              "fieldId": "location",
              "fieldValue": "={{ $json.location }}"
            },
            {
              "fieldId": "timeline",
              "fieldValue": "={{ $json.timeline }}"
            },
            {
              "fieldId": "pre_approved",
              "fieldValue": "={{ $json.pre_approved }}"
            },
            {
              "fieldId": "lead_score",
              "fieldValue": "={{ $json.lead_score }}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "={{ $json.priority }}"
            },
            {
              "fieldId": "tags",
              "fieldValue": "={{ JSON.stringify($json.tags) }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.qualified ? 'qualified' : 'nurture' }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -400,
        200
      ],
      "id": "supabase-re-004",
      "name": "Save to CRM"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.zapier.com/hooks/catch/YOUR_ZAPIER_WEBHOOK",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"lead_name\": $json.lead_name,\n  \"lead_phone\": $json.lead_phone,\n  \"lead_email\": $json.lead_email,\n  \"priority\": $json.priority,\n  \"lead_score\": $json.lead_score,\n  \"location\": $json.location,\n  \"budget_max\": $json.budget_max,\n  \"qualified\": $json.qualified\n}) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        400
      ],
      "id": "zapier-crm-005",
      "name": "Sync to Zapier / CRM"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Lead Data": {
      "main": [
        [
          {
            "node": "Score & Qualify Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score & Qualify Lead": {
      "main": [
        [
          {
            "node": "Save to CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to CRM": {
      "main": [
        [
          {
            "node": "Sync to Zapier / CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "real-estate-001",
  "id": "real-estate-wf",
  "tags": [
    "real-estate",
    "lead-qualification",
    "crm",
    "scoring"
  ]
}