public/workflow/json/plumber-voice-agent.json
{
  "name": "Plumber Voice Agent - Lead Capture (Fixed)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "plumber-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-1000, 200],
      "id": "webhook-plumber-001",
      "name": "Webhook Trigger"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Lead received' }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-800, 0],
      "id": "respond-webhook-002",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// n8n flattens the webhook body directly into $json - no .body wrapper needed\nconst body = $json;\n\nconst name = (body.caller_name || '').toString().trim() || 'Unknown';\nconst phone = (body.caller_phone || '').toString().trim();\nconst issue = (body.issue_description || '').toString().trim();\nconst urgency = ['emergency', 'urgent', 'normal'].includes(body.urgency) ? body.urgency : 'normal';\nconst address = (body.address || '').toString().trim();\n\n// Basic phone validation - must be non-empty for Retell to place a call\nif (!phone) {\n  throw new Error('caller_phone is required and was not provided');\n}\n\nreturn [{\n  json: {\n    caller_name: name,\n    caller_phone: phone,\n    issue_description: issue,\n    urgency: urgency,\n    address: address,\n    lead_source: 'voice_agent',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-800, 200],
      "id": "parse-plumber-003",
      "name": "Parse Lead Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $vars.RETELL_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"from_number\": $vars.BUSINESS_PHONE_E164,\n  \"to_number\": $json.caller_phone,\n  \"agent_id\": $vars.RETELL_AGENT_ID,\n  \"metadata\": {\n    \"caller_name\": $json.caller_name,\n    \"issue\": $json.issue_description,\n    \"urgency\": $json.urgency,\n    \"address\": $json.address\n  }\n}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": false
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-580, 200],
      "id": "retell-call-004",
      "name": "Retell Create Call"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "retell-success-check",
              "leftValue": "={{ $json.call_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-360, 200],
      "id": "retell-check-005",
      "name": "Retell Success?"
    },
    {
      "parameters": {
        "jsCode": "// Log the Retell error for debugging and continue gracefully\nconst retellResponse = $json;\nconsole.error('Retell API error:', JSON.stringify(retellResponse));\n\n// Pass lead data through from Parse Lead Data node so downstream nodes still work\nconst leadData = $('Parse Lead Data').item.json;\n\nreturn [{\n  json: {\n    ...leadData,\n    retell_status: 'failed',\n    retell_error: JSON.stringify(retellResponse)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-360, 400],
      "id": "retell-error-006",
      "name": "Handle Retell Error"
    },
    {
      "parameters": {
        "jsCode": "// Merge Retell call_id with original lead data\n// $json here is the Retell API success response (has call_id)\n// We fetch the lead data from the Parse Lead Data node by name\nconst retellResponse = $json;\nconst leadData = $('Parse Lead Data').item.json;\n\nreturn [{\n  json: {\n    ...leadData,\n    retell_call_id: retellResponse.call_id || null,\n    retell_status: 'initiated'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-140, 200],
      "id": "merge-data-007",
      "name": "Merge Lead + Call Data"
    },
    {
      "parameters": {
        "operation": "upsert",
        "tableId": "leads",
        "conflictColumns": "caller_phone",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "caller_name",      "fieldValue": "={{ $json.caller_name }}" },
            { "fieldId": "caller_phone",     "fieldValue": "={{ $json.caller_phone }}" },
            { "fieldId": "issue_description","fieldValue": "={{ $json.issue_description }}" },
            { "fieldId": "urgency",          "fieldValue": "={{ $json.urgency }}" },
            { "fieldId": "address",          "fieldValue": "={{ $json.address }}" },
            { "fieldId": "lead_source",      "fieldValue": "={{ $json.lead_source }}" },
            { "fieldId": "retell_call_id",   "fieldValue": "={{ $json.retell_call_id }}" },
            { "fieldId": "retell_status",    "fieldValue": "={{ $json.retell_status }}" },
            { "fieldId": "status",           "fieldValue": "new" },
            { "fieldId": "created_at",       "fieldValue": "={{ $json.timestamp }}" }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [80, 200],
      "id": "supabase-lead-008",
      "name": "Save Lead to Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "REPLACE_WITH_YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"text\": \":rotating_light: *New Plumber Lead*\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": { \"type\": \"plain_text\", \"text\": \":rotating_light: New Plumber Lead\" }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        { \"type\": \"mrkdwn\", \"text\": \"*Name:*\\n\" + $json.caller_name },\n        { \"type\": \"mrkdwn\", \"text\": \"*Phone:*\\n\" + $json.caller_phone },\n        { \"type\": \"mrkdwn\", \"text\": \"*Urgency:*\\n\" + $json.urgency },\n        { \"type\": \"mrkdwn\", \"text\": \"*Address:*\\n\" + ($json.address || 'Not provided') }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": { \"type\": \"mrkdwn\", \"text\": \"*Issue:*\\n\" + $json.issue_description }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        { \"type\": \"mrkdwn\", \"text\": \"Retell call: \" + ($json.retell_call_id || 'Not initiated') + \" | \" + $json.timestamp }\n      ]\n    }\n  ]\n}) }}"
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [300, 200],
      "id": "slack-notify-009",
      "name": "Slack Notification"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 },
          { "node": "Parse Lead Data",    "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Lead Data": {
      "main": [
        [
          { "node": "Retell Create Call", "type": "main", "index": 0 }
        ]
      ]
    },
    "Retell Create Call": {
      "main": [
        [
          { "node": "Retell Success?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Retell Success?": {
      "main": [
        [
          { "node": "Merge Lead + Call Data", "type": "main", "index": 0 }
        ],
        [
          { "node": "Handle Retell Error", "type": "main", "index": 0 }
        ]
      ]
    },
    "Handle Retell Error": {
      "main": [
        [
          { "node": "Save Lead to Supabase", "type": "main", "index": 0 }
        ]
      ]
    },
    "Merge Lead + Call Data": {
      "main": [
        [
          { "node": "Save Lead to Supabase", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save Lead to Supabase": {
      "main": [
        [
          { "node": "Slack Notification", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "plumber-voice-002",
  "id": "plumber-voice-wf-fixed",
  "tags": ["voice-agent", "plumber", "lead-capture"],
  "__readme__": {
    "variables_required": {
      "RETELL_API_KEY":       "Your Retell AI API key (Settings > API Keys in Retell dashboard)",
      "RETELL_AGENT_ID":      "The agent ID of your configured Retell plumber agent",
      "BUSINESS_PHONE_E164":  "Your outbound caller ID in E.164 format, e.g. +14155550100",
      "SLACK_WEBHOOK_URL":    "Slack Incoming Webhook URL from your Slack app settings"
    },
    "credentials_required": {
      "supabaseApi": "Create a Supabase credential in n8n with your project URL and service_role key"
    },
    "supabase_table_schema": {
      "table": "leads",
      "columns": [
        "id uuid primary key default gen_random_uuid()",
        "caller_name text",
        "caller_phone text unique",
        "issue_description text",
        "urgency text",
        "address text",
        "lead_source text",
        "retell_call_id text",
        "retell_status text",
        "status text default 'new'",
        "created_at timestamptz"
      ]
    }
  }
}